<% provide :button_text, t(".button") %>
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-edit"></i>
    <%= t ".edit_book" %>
  </div>
  <div class="card-body">
    <%= render "form" %>
  </div>
</div>

